.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

  font-size: 35px;
}

.button-error {
  height: 100px;
  width: 100px;

  padding: 8px 16px;
  font-size: 16px;
  line-height: 21.79px;

  background-color: var(--violet);
  color: var(--white);

  border: 1px solid var(--white);
  border-radius: 8px;
}

.button-error:hover {
  background-color: var(--white);
  color: var(--violet);
}
